body{
    background-color: bisque;
}

header{
    background-color: navajowhite;
    font-family: Arial, Helvetica, sans-serif;
    height: 3cm;
}

footer{
    background-color: #555;
    height: 3cm;
}

h1{
    text-align: center;
}

p{
    color: rgb(255, 255, 255);
    font-style: italic;
}

img{
    border: 5px solid #555;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}